
.page-header {
  background-color:brown;
    color: #fff;
    padding: 40px;
    margin: 10px;
    text-align: center;
}

.page-header h2 {
    margin: 3px;
    color: #fff;
}

.menu {
    background-color: #fff;
    padding: 40px;
    border-radius: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media (max-width:675.2px){
  
}

.menu-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.menu-item h3 {
    margin-top: 0;
}

.menu-item p {
    margin-bottom: 0;
}

/* تنسيقات خاصة بالأحرف الكبيرة (uppercase) */
.menu-item h3 strong {
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

/* تنسيقات خاصة بالعناوين (headers) */
.section-header h3 {
  
    color: browen;
    font-family: 'Dancing Script', cursive;
}
.img1 img {
    
    width: 30em;
    height: 30em;
    border-radius: 40%;
   padding: 40px;
    object-fit: cover;
    display: block;
    margin: 20px; /* يوضع الصورة في الوسط أفقياً */
}


.row strong{
    color: rgba(74, 29, 18, 0.905);
    
}
.menu-text a:hover{
    background-color: #967a716a;
    text-decoration: none;
}
